
.main-header {
    margin-top: 80px;
}
.category-section{
    margin-top: 10px;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.category-more-hero {
  
    width: 89%;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.category-more{
    color: rgb(44, 165, 8);
    cursor:pointer;
    transition: 0.3s;
}
.category-more:hover {
    color: rgb(0, 0, 0);
    margin-right: 5px;
    transition: 0.5s;

}

.block-container{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left-most-div{
    background-color: rgba(144,25,29,255);
    width: 30%;
    height: 100%;
    margin-right: 10px;
}

.left-block{
    /* background-color: blue; */
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}

.right-block{
    /* background-color: green; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.top-cate{
    width: 100%;
    height: 50%;
    background-color: rgb(181, 151, 156);
    margin-bottom: 10px;
}

.bottom-cate{
    width: 100%;
    height: 50%;
    background-color: rgba(40,144,205,255);
}

.left-cate{
    background-color: rgba(36,166,70,255);
    width: 50%;
    height: 100%;
    margin-right: 10px;

}

.right-cate{
    background-color: rgba(83,83,83,255);
    width: 50%;
    height: 100%;
    
}

.common{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

.snacks-img{
    height: 400px;
    margin-left: 200px;
}

.beauty-img{
    height: 200px;
    /* margin-left: 200px; */
}

.fish-img{
    height: 200px;
    /* margin-left: 100px; */
}

.vege-img{
    height: 300px;
    margin-left: 200px;
}

.meat-img{
    height: 200px;
    margin-left: 250px;
}


.snacks-text{
    font-size: 25px;
}

.fish-text{
    font-size: 25px;
    margin-bottom: 20px;
}

.beauty-text{
    font-size: 25px;
}

.vege-text{
    font-size: 25px;
}

.meat-text{
    font-size: 25px;
}