header{
  width: 100%;
  height: 80px;
  background-color: #000;
  display: flex;
  justify-content: center;

}

.nav-content{
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.nav-logo{
  max-width: 360px;
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: left;
}

.nav-logo  img{
  height: 60px;
}


.nav-links{
  /* background-color: green; */
  max-width: 1080px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  
}

.nav-links ul{
  width: 100%;
  display: flex;
  justify-content: right;
  
}

.links{
  padding: 30px;
  
}

.links a{
  text-decoration: none;
  color:  #25e732;
  font-size: large;
  transition: 0.15s ease-in-out;
}

.links a:hover{
  color:  #cde9cf;
}

.links a:active{
  color: #cde9cf;
}