.cards{
    width: 100%;
    height: 500px;
    /* background-color: rgb(101, 101, 101); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container{
    
    width: 80%;
    height: 400px;
    background-color: rgba(210, 217, 11, 0.574);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.text-cont{
    padding-top: 20px;
    /* padding-bottom: 10px; */
}

.text-cont h2{
    color: rgb(35, 35, 35);
}

.prop-card{
    /* border: 1px solid black; */
    width: 1080px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.card img{
    height: 70px;
}

.card h3{
    padding-top: 20px;
}

.card p{
    padding-top: 10px;
}

.card:hover{
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.074);
}
