.container {
    background-image: url('./Public/man-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    margin: auto;
    width: 90%;
    height: 90%;
    
    background-color: rgb(255, 255, 255);
    opacity: 70%;
}

.man-cont {
    text-align: center;
    
}

.man-cont .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}