.cart-big-container {
    width: 100%;
    height: 100%;
 
}

.cart-container {
    
    width: 100%;
    height: auto;
    display: flex;
    
 
}
.cart-left-container {
 
    width: 70%;


}

.cart-right-container {
   
    width: 30%;
}

.cart-ul-img {
    width: 60px;
    height: 60px;
    
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: 100% 100%;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    
}

.responsive-table {
    margin: 10px 25px 10px 25px;
}

.tb1 {
    background: #13ac1d;
    color: #f0f0f0;
 
}



.cart-right-container {
    border: 1px solid #13ac1d;
    width: 30%;
    height: 100%;
    padding-bottom: 50px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.cart-right-container  .top-hero {
  
    width: 98%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.cart-right-container  .bottom-hero {

    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.cart-address {

    width: 100%;
    height: 100px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.cart-address  input {
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #13ac1d;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    
    
}

.checkout-btn {
    width: 400px;
    height: 50px;
    
    background-color: #13ac1d;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    color: #f0f0f0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #0e8e15;
    color: #f0f0f0;
}


/* order  container */

.order-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.paypal-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}