.category-page {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid;
}

.category-ui {
    width: 100%;
    display: flex;
    background-color: rgba(255, 254, 254, 0.7);
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid;
}

.page-back {
    text-align: center;
}

.btn-cat {
    border: 1px solid;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.button1, .button2 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #3bb143;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 10px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
}