.register-page{
    background-image: url("../public/vege-back2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-div{
    /* background-color: black; */
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    background-color: rgba(255, 255, 255, 0.911);
    height: 100%;
    max-width: 1080px;
    width: 100%;
    border: 1px solid #13ac1d59;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

.form-image-div{
    /* background-color: red; */
    width: 50%;
    height: 100%;
}

.div-img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background-image: url("../public/vege-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.form-content{
    /* background-color: blue; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.register-input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.green-text{
    color: #13ac1d;
}

.input-div{
    margin-bottom: 10px;
}

.text-fields{
    height: 40px;
    width: 300px;
    padding: 15px;
    border: 1px solid #13ac1d;
    border-radius: 25px;
    
    
}

.text-fields::placeholder {
    color: #13ac1d;
    opacity: 0.75;
  }

.register-btns{
    border: 0px;
    width: 200px;
    height: 40px;
    background-color: #13ac1d;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.15s ease;
    
}

.register-btns:hover{
    background-color: #13ac1d;
    opacity: 0.75;
}

.register-btns:active{
    background-color: #ffffff;
    border: 1px solid #13ac1d;
    color: #13ac1d;
    opacity: 0.75;
}


.login-tag{
    margin-top: 20px;  
}

.veri-space{
    margin-top: 10px;

}

.verification-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid #0000005b;
    border-radius: 25px;
    padding: 20px;
}
/* color #13ac1d*/