.viewproduct-div{
    background-color: #13ac1d11;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-text-shop {
    font-size: 20px;
    font-weight: 600;
    color: #13ac1d;
    margin-bottom: 10px;
    margin-top: 20px;
    position: absolute;
    left: 0;
    margin-left: 30px;

    cursor: pointer;

}

.back-text-shop:hover{
    color: #073d0b;
}

.text-cart {
    font-size: 20px;
    font-weight: 600;
    color: #13ac1d;
    margin-bottom: 10px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    margin-right: 30px;

    cursor: pointer;

}

.text-cart:hover{
    color: #073d0b;
}

.product-div{
    /* background-color: black; */
    max-width: 1300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upper-div{
    
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-div{
    /* background-color: red; */
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;  
    margin-bottom: 20px;
}

.left-div{
    
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 0px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    
    
}

.right-div{
    /* background-color: blue; */
    width: 30%;
    height: 100%;
    
}

.product-image{
    /* background-color: rgba(214, 214, 214, 0.527); */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px 0 0 25px;
}

.pro-image{
    width: 80%;
}

.product-info{
    padding: 50px;
    /* background-color: rgba(214, 214, 214, 0.527); */
    width: 50%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 25px 25px 0px;
}

.pro-name{
    font-size: 50px;
}

.pro-price{
    font-size: 30px;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 30px;
}

.weight-info{
    background-color: #ffffff;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: #13ac1d;
    margin-bottom: 30px;
}

.pro-weight{
    font-size: 20px;
    font-weight: 400;
}

.pro-qty{
    font-size: 20px;
    font-weight: 400;

}

.pro-qty-add-n-sub{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.qty-selector{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selector{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #13ac1d;
    border: 0;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease;
}

.selector:hover{
    opacity: 0.7;
}

.selector:active{
    background-color: white;
    color: #13ac1d;
    border: 1px solid #13ac1d;

}

.add{
    margin-left: 10px;
}

.add-cart-btn-div{
    width: 100%;
    height: 100%;
}

.add-cart-btn{
    width: 80%;
    height: 100%;
    border: 0;
    border-radius: 25px;
    background-color: #13ac1d;
    color: white;
    font-size: 15px;
    transition: 0.15s ease;
    cursor: pointer;
}

.add-cart-btn:hover{
    opacity: 0.7;
}

.add-cart-btn:active{
    background-color: white;
    color: #13ac1d;
    border: 1px solid #13ac1d;
}

.right-upper{
    /* background-color: rgb(182, 0, 0); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.upper-card{
    /* background-color: black; */
    margin: 10px;
    border-radius: 15px;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #13ac1d;

}
.card-img{
    display: flex;
    justify-content: center;
}

.card-img img{
    height: 60px;
    margin-left: 10px;
}

.card-img{
    width: 30%;
}

.card-text{
    width: 70%;
}

.card-title{
    font-weight: 800;
}

.card-des{
    color: rgba(0, 0, 0, 0.733);
}


/* color #13ac1d */